In [1]:
from jupyter_dash import JupyterDash

In [2]:
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [149]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [153]:
%sql

In [154]:
engine = create_engine('postgresql://demo:whoyougonnacall@cse6242.cpu4xlqft3z9.us-east-2.rds.amazonaws.com/cse6242')

In [6]:
import plotly.graph_objs as go 
import plotly.express as px

In [7]:
df_model=pd.read_sql('SELECT * FROM results.all_models ORDER BY fpi_date',engine)
df_model.head()

,lat_rnd,lon_rnd,fpi_date,el_no_fire,el_fire,nn_no_fire,nn_fire,lr_no_fire,lr_fire,rf_no_fire,rf_fire
0,39.6,-120.3,2015-01-01,0.833854,0.166146,0.994178,0.005822,0.787849,0.212151,1.00,0.00
1,37.7,-122.5,2015-01-01,0.621717,0.378283,0.540420,0.459580,0.572299,0.427701,0.98,0.02
2,40.3,-122.3,2015-01-01,0.713018,0.286982,0.766679,0.233321,0.800655,0.199345,1.00,0.00
3,39.2,-121.5,2015-01-01,0.591367,0.408633,0.528418,0.471582,0.751626,0.248374,0.99,0.01
4,37.3,-120.3,2015-01-01,0.788198,0.211802,0.648425,0.351575,0.695013,0.304987,0.99,0.01

In [8]:
df_model.columns

Index(['lat_rnd', 'lon_rnd', 'fpi_date', 'el_no_fire', 'el_fire', 'nn_no_fire',
       'nn_fire', 'lr_no_fire', 'lr_fire', 'rf_no_fire', 'rf_fire'],
      dtype='object')

In [9]:
df_model['fpi_date']=df_model['fpi_date'].astype(str)
type(df_model['lat_rnd'][0])

numpy.float64

In [10]:
df_features=pd.read_sql('SELECT * FROM wildfire.combined WHERE extract(year from fpi_date)=2015 ORDER BY fpi_date',engine)
df_features.head()

,lat_rnd,lon_rnd,fpi_date,elevation,fire_occurrence,max_fpi,min_fpi,avg_fpi,std_fpi,array_fpi,...,hundred_hour_dead_fuel_moist_percent,precip_amount_mm,max_relative_humidity_percent,min_relative_humidity_percent,specific_humidity_kg_kg,srad_wmm,temp_min_k,temp_max_k,mean_vapor_pressure_deficit_kpa,wind_speed_10m_m_s
0,40.8,-123.2,2015-01-01,1308.0,0,74,44,56.750000,12.841988,"[58, 51, 44, 74]",...,11.697458,0.0,61.551212,27.821257,0.002505,106.604836,271.608276,283.157013,0.517428,2.554828
1,40.8,-120.7,2015-01-01,1613.0,0,38,33,35.500000,3.535534,"[33, 38]",...,16.928593,0.0,86.778458,25.523602,0.001723,110.941338,261.138977,278.772919,0.346120,2.488654
2,40.8,-120.9,2015-01-01,1932.0,0,52,31,38.000000,9.899495,"[52, 31, 38, 31]",...,15.158624,0.0,68.206551,20.459486,0.001737,110.915634,264.007812,280.739563,0.446915,2.370238
3,40.8,-121.1,2015-01-01,1735.0,0,39,23,30.750000,7.932003,"[36, 23, 25, 39]",...,14.417264,0.0,64.411682,22.780954,0.001971,113.588211,266.681000,281.493805,0.476228,2.406966
4,40.8,-123.5,2015-01-01,815.0,0,74,23,45.666667,25.967929,"[40, 23, 74]",...,11.956650,0.0,62.028648,30.752148,0.002733,106.797569,273.403900,283.447021,0.534982,2.676094

In [11]:
df_features.columns

Index(['lat_rnd', 'lon_rnd', 'fpi_date', 'elevation', 'fire_occurrence',
       'max_fpi', 'min_fpi', 'avg_fpi', 'std_fpi', 'array_fpi',
       'array_fod_lat', 'array_fod_lon', 'array_fpi_lat', 'array_fpi_lon',
       'array_fod_id', 'rolled_up_rows', 'eng_release_comp_nfdrs',
       'burning_index_nfdrs', 'daily_ref_evapotrans_mm',
       'hundred_hour_dead_fuel_moist_percent', 'precip_amount_mm',
       'max_relative_humidity_percent', 'min_relative_humidity_percent',
       'specific_humidity_kg_kg', 'srad_wmm', 'temp_min_k', 'temp_max_k',
       'mean_vapor_pressure_deficit_kpa', 'wind_speed_10m_m_s'],
      dtype='object')

In [12]:
df_features_d=df_features[['lat_rnd', 'lon_rnd', 'fpi_date','fire_occurrence','avg_fpi','temp_max_k','wind_speed_10m_m_s']]
df_features_d.head()

,lat_rnd,lon_rnd,fpi_date,fire_occurrence,avg_fpi,temp_max_k,wind_speed_10m_m_s
0,40.8,-123.2,2015-01-01,0,56.750000,283.157013,2.554828
1,40.8,-120.7,2015-01-01,0,35.500000,278.772919,2.488654
2,40.8,-120.9,2015-01-01,0,38.000000,280.739563,2.370238
3,40.8,-121.1,2015-01-01,0,30.750000,281.493805,2.406966
4,40.8,-123.5,2015-01-01,0,45.666667,283.447021,2.676094

In [13]:
df_features_d['fpi_date']=df_features_d['fpi_date'].astype(str)

C:\Users\joanna\Anaconda3\envs\datascience1\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
type(df_features_d['fpi_date'][0])

str

In [114]:
cols = ['fpi_date','fire_occurrence','avg_fpi','temp_max_k','wind_speed_10m_m_s']
df_features_d[cols] = df_features_d[cols].round(1)

In [115]:
cols2 = ['el_no_fire', 'el_fire', 'nn_no_fire',
       'nn_fire', 'lr_no_fire', 'lr_fire', 'rf_no_fire', 'rf_fire']
df_model[cols2] = df_model[cols2].round(3)

In [142]:
app = JupyterDash('map')
app.layout = html.Div([
    html.H1(" Innovation in Wildfire Prediction, Team 73 – OnFire ",style={'text-align': 'center','background-image': 'url(https://www.munichre.com/content/dam/munichre/global/images/royalty-free/GettyImages-145057928.jpg/_jcr_content/renditions/cropped.3_to_1.jpg./cropped.3_to_1.jpg)',
        'background-size': 'cover', 'height': '150px'}),
    html.Div([
        html.Div([
            html.Label([
                "Date",
                dcc.Dropdown(
                    id='date-dropdown', clearable=False,
                    value='2015-01-01', options=[
                        {'label': c, 'value': c}
                        for c in df_model['fpi_date'].unique()
                    ])
            ])], style={'width': '49%', 'display': 'inline-block'}),
        
        html.Div([
            html.Label([
                "Algorithm",
                dcc.Dropdown(
                    id='algorithm-dropdown', clearable=False,value='logistics regression',
                    options=[{'label': c, 'value': c}
                        for c in ['gradient boosted','neural nets','random forest','logistics regression']
                    ])
            ])],style={'width': '49%', 'display': 'inline-block'})
    ], style={
        'borderBottom': 'thin lightgrey solid',
        'backgroundColor': 'rgb(250, 250, 250)',
        'padding': '10px 5px'}),
     
    html.Div([
        dcc.Graph(id='fig',config = dict({'scrollZoom': False}))], 
    ),
    html.Div([
        html.Div([
            dcc.Graph(id='wind_speed',config = dict({'scrollZoom': False})),],style={'width': '34%', 'display': 'inline-block'}
        ),
        
        html.Div([
            dcc.Graph(id='fpi',config = dict({'scrollZoom': False})),],style={'width': '32%', 'display': 'inline-block'}
        ),
        html.Div([
        dcc.Graph(id='temperature',config = dict({'scrollZoom': False})),],style={'width': '32%', 'display': 'inline-block'}
        )
    ])
])

In [143]:
@app.callback(Output('fig', 'figure'), [Input("date-dropdown", "value"), Input("algorithm-dropdown","value")])
def update_figure(date,alg):
    df=df_model[df_model['fpi_date']==date]
    dff=df_features_d[df_features_d['fpi_date']==date]
    dff=dff[dff['fire_occurrence']==1]
    # Index(['lat_rnd', 'lon_rnd', 'fpi_date', 'el_no_fire', 'el_fire', 'nn_no_fire',
       #'nn_fire', 'lr_no_fire', 'lr_fire', 'rf_no_fire', 'rf_fire'],
      #dtype='object')
    if alg=='gradient boosted':
        z_va='el_fire'
    elif alg=='logistics regression':
        z_va='lr_fire'
    elif alg=='neural nets':
        z_va='nn_fire'
    elif alg=='random forest':
        z_va='rf_fire'
    
    fig = px.density_mapbox(df, lat="lat_rnd", lon="lon_rnd", z=z_va, hover_data=[z_va],radius=10,title="Predicted Probability of Wildfire Occurences",
                        color_continuous_scale=px.colors.diverging.RdYlGn[::-1],range_color=[-0.01,1.01], zoom=5, height=500, opacity=0.5)
    fig.layout.coloraxis.colorbar.title = 'Fire Prob'
    fig.update_layout(mapbox_style="open-street-map")
    fig.add_trace(go.Scattermapbox(
            lat=dff['lat_rnd'],
            lon=dff['lon_rnd'],
            mode="markers+text",
            marker={'size':10},
            ))
    
    return fig

In [144]:
def creat_features(df, z, title,loc):
    fig = px.density_mapbox(df, lat="lat_rnd", lon="lon_rnd", z=z, hover_data=[z],radius=10,title=title,
                        color_continuous_scale=px.colors.diverging.RdYlGn[::-1], zoom=5, height=500, opacity=0.5)
    fig.layout.coloraxis.colorbar.title = title
    fig.update_layout(mapbox_style="open-street-map")
    if loc:
        lat=loc['points'][0]['lat']
        lon=loc['points'][0]['lon']

        fig.add_trace(go.Scattermapbox(
            lat=[lat],
            lon=[lon],
            mode="markers+text",
            marker={'size':10,'color':'black'},
            )
        )
    return fig

In [145]:
@app.callback([Output('wind_speed','figure'),Output("fpi","figure"), Output("temperature",'figure')],
              [Input("date-dropdown","value"),
              Input("fig",'hoverData')])
def update_features(date,loc):
    #loc={'points': [{'curveNumber': 0, 'customdata': [0.20722672663292463], 'lat': 41.1, 'lon': -121.4, 'pointIndex': 181, 'pointNumber': 181, 'z': 0.20722672663292463}]}
    #df=df_features[(df_features['lat_rnd']==loc['points'][0]['lat']) & (df_features['lon_rnd']==loc['points'][0]['lon'])]
    df=df_features_d[df_features_d['fpi_date']==date]
    z1='wind_speed_10m_m_s'
    z2='avg_fpi'
    z3='temp_max_k'
    title1="wind speed(m/s)"
    title2='fpi(%)'
    title3='max temp(K)'

    return creat_features(df,z1,title1,loc),creat_features(df,z2,title2,loc),creat_features(df,z3,title3,loc)

In [146]:
app.run_server(mode='external', port=8070)

Dash app running on http://127.0.0.1:8070/